
<html>
<body>
<table class="styled-table">
    <thead>
        <tr>
            <th>Post Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Auther's Name</th>
            <th>Surname</th> 
            <th>Action</th> 
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td>{{ post.id }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td> 
            <td>{{ post.userName }}</td> 
            <td>{{ post.userSurname }}</td> 
            <td><a href="deletePost/{{post.id}}" onclick="return confirm('Are you sure to delete?')"><button>Delete</button></a></td>
        </tr> 
        {% endfor %}
        
    </tbody>
</table>


<style>
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
</style>